<div class="container-fluid">
	<!-- Row for page header -->
	<div class="row py-4">
		<div class="col-12 text-center">
			<h1 class="blue-text">Reset Password</h1>
		</div>
	</div>
	<!-- Row for form -->
	<div class="row">
		<div class="offset-1 col-10 offset-sm-2 col-sm-8 offset-md-3 col-md-6 offset-lg-4 col-lg-4">
			{% if message %}
        <div class="text-center">
          <h5 class="{{ message.color }}-text no-margin">{{ message.text }}</h5>
        </div>
      {% endif %}
			<!-- Password reset form -->
			<form id="reset-password-form" action="" method="POST" novalidate>
				{% csrf_token %}
				<div class="pb-3">
					<input type="text" class="form-control validate" id="email" name="email" placeholder="Email Address" required>
				</div>
				<div class="pb-3 text-center">
					<button type="submit" class="btn btn-blue">Reset</button>
				</div>
			</form>
		</div>
	</div>
</div>