
{% extends "layouts/base.html" %}

{% block title %} Login {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
   <div class="container-fluid">
  <div class="row py-5">
    <div class="col-12 text-center">
      <h1 class="blue-text bold">Sign Up</h1>
    </div>
  </div>
  <div class="row">
    <div class="offset-1 col-10 offset-sm-3 col-sm-6 offset-md-4 col-md-4">
      {% if message %}
        <div class="text-center">
          <h5 class="{{ message.color }}-text no-margin">{{ message.text }}</h5>
        </div>
      {% endif %}
      <!-- Sign in form -->
      <form id="signin-form" action="" method="POST" novalidate>
        {% csrf_token %}
        <div class="pb-3">
          <input type="text" class="form-control validate" id="name" name="name" placeholder="User Name" required>
        </div><div class="pb-3">
          <input type="email" class="form-control validate" id="email" name="email" placeholder="Email Address" required>
        </div><div class="pb-3">
          <input type="number" class="form-control validate" id="number" name="email" placeholder="Phone Number" required>
        </div>
        <div class="pb-3">
          <input type="password" class="form-control validate" id="password" name="password" placeholder="Password" required>
        </div>
        <div class="pb-3 text-center">
          <button type="submit" class="btn btn-red">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}